version: '2'
services:
  clickdigital:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - 'mongo'
    env_file:
      - .env
    restart: always

  mongo:
    image: mongo
    ports:
      - '27017:27017'
    volumes:
      - './mongod.conf:/etc/mongod.conf'
      - mongodb_data:/data/db
