version: '3'
services:
  clickdigital:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
      - '4000:4000'
    depends_on:
      - 'mongo'
    env_file:
      - .env
    restart: always
  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
      - ./mongod.conf:/etc/mongod.conf:ro # Monta o arquivo mongod.conf como somente leitura
    restart: always

volumes:
  mongodb_data:
